/* O asterisco funciona para reescrever as propriedades dos navegadores */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* O container serve para alinhar os elementos do site conforme a margem */

.container{
    width: 90%;
    margin: 0 auto;
}
.form{
    padding-bottom: 10%;
}
.card{
    margin: 15px;
    padding:10px;
}
.img{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.subtitle{
    margin-top: 1rem;
}
.about-img{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.form-contact {
    margin: 0 auto;
}
.card-header{
    height: 2%;
}
.display-4{
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 2rem;
}
.footer{
    margin-top: 1rem;
}

